<div class="container">

<nav>
 
 
     
    
        <a class="nav-link active" routerLink="/client" routerLinkActive="active">Clients</a>
     
     
        <a class="nav-link" routerLink="/client/create" routerLinkActive="active">New Client</a>
      
    
        <a class="nav-link" routerLink="/account" routerLinkActive="active">Accounts</a>
     
       
        <a class="nav-link" routerLink="/client/login" routerLinkActive="active">Login Client</a>
     

</nav>

</div>


<router-outlet></router-outlet>