<div class="container">
    <div class="alert alert-info" role="alert">
        Welcome to accounts page, if you want to show more details, choice an account.
      </div>

    <table class="table table-striped ">
        <thead class="thead-dark">
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Detail Account</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                <td>{{account.client.firstName}}</td>
                <td>{{account.client.lastName}}</td>
                <td>
                    <a routerLink="/account/detail/{{account.id}}" class="btn btn-primary ">
                        <h4> Account </h4>
                    </a>
                </td>
            </tr>

        </tbody>
    </table>

</div>