<div class="container" *ngIf="account">
    <h2> Welcome {{ account.client.username | uppercase }} </h2>
    <h4> FirstName :{{ account.client.firstName}} </h4>
    <h4> LastName :{{ account.client.lastName }} </h4>
    <h4> Balance :{{ account.balance }} </h4>

    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" novalidate>

        <div class="form-group">
            <label class="btn btn-primary">
                <input type="radio" value="Deposit" class="btn btn-success" formControlName="operation" [checked]="onOperationChange()"> Deposit
            </label>
            <label class="btn btn-primary">
                <input type="radio" value="Withdrawal" class="btn btn-success" formControlName="operation" [checked]="onOperationChange()"> Withdrawal
            </label>
        </div>
        <div *ngIf="accountForm.get('operation').dirty">


            <div class="form-group">
                <label class="center-block">{{accountForm.get('operation').value}} Amount:</label>
                <input type="number" class="form-control" formControlName="amount">

            </div>
            <button type="submit" class="btn btn-success" [disabled]="!accountForm.valid">{{accountForm.get('operation').value}}</button>
        </div>

    </form>

    <section class="main">

        <table class="table">
            <thead>
                <tr>

                    <th>Operation</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Balance</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let operation of account.operations">
                    <td>{{operation.type}}</td>
                    <td>{{operation.date| date:'medium'}}</td>
                    <td>{{operation.amount}}</td>
                    <td>{{operation.balance}}</td>

                </tr>

            </tbody>
        </table>
    </section>
</div>